{% extends "template.html" %}
{% block conteudo %}
      <form method="post" action="{{ url_for('atualizar') }}">
      
        <figure class="img thumbnail col-md-4">
            <img src="{{ url_for('imagem', nome_arquivo=capa_jogo) }}">
            <figcaption>
                <label class="fileContainer">
                    Alterar capa
                    <input type="file" name="arquivo" accept=".image/vnd.sealedmedia.softseal.jpg">
                </label>
            </figcaption>
        </figure>

        <input type="hidden" name="id" value="{{ jogo.id }}">
        {{  form.csrf_token() }}
        <fieldset>
          <div class="form-group">
              {{ form.nome.label(class="form-label")   }}
              {{ form.nome(class="form-control") }}
          </div>
          <div class="form-group">
              {{ form.categoria.label(class="form-label")   }}
              {{ form.categoria(class="form-control") }}
          </div>
          <div class="form-group">
              {{ form.console.label(class="form-label")   }}
              {{ form.console(class="form-control") }}
          </div>
          <div class="form-group">
              {{ form.salvar(class="btn btn-primary") }}
              <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
          </div>
        </fieldset>
      </form>
{% endblock %}