{% extends "template.html" %}
{% block conteudo %}
      <form method="post" action="{{ url_for('criar') }}">
        <fieldset>
          {{ form.csrf_token() }}
            <div class="form-group">
                {{ form.nome.label(class="form-label") }}
                {{ form.nome(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.categoria.label(class="form-label") }}
                {{ form.categoria(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.console.label(class="form-label") }}
                {{ form.console(class="form-control") }}
            </div>
            <div>
                {{ form.salvar(class="btn btn-success") }}
                <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
            </div>
        </fieldset>
      </form>
{% endblock %}